<%= render "layouts/navbar" %>
<% cache(action_suffix: "primary") do %>
<div id="logo">Cast-Away</div>
<div class="text">

<% if current_user %>
<h1>Hello, <%= current_user.name.split(" ").first %>!</h1>
<% else %>
<h1>Hello!</h1>
<% end %>
<%= button_to "What's Trending", trending_index_path, method: :get %>

<%= form_tag shows_search_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

</div>
</div>
<% end %>
