<body style="margin:0; padding:0">
<div id="home" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#home" data-slide-to="0" class="active">
      </li>
      <li data-target="#home" data-slide-to="1">
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag asset_path('microphone.jpg'), class: 'col-sm-12 col-md-12 col-lg-12 carousel-img' %>
      </div>
      <div class="item">
        <%= image_tag asset_path('headphones.jpg'), class: 'col-sm-12 col-md-12 col-lg-12 carousel-img' %>
      </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    </a>
    <div class="company-logo">
      <div id="logo" class="col-lg-12 col-md-12 col-sm-12">
        Cast-Away
      </div>
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12" >
          <%= button_to "What's Trending", trending_index_path, method: :get, class: 'home-button' %>
          <%= form_tag shows_search_path, method: :get do %>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "Search", name: nil, class: 'home-button' %>
            <% end %>
            <a class="d" href="#about">
              <div class="a"></div>
        </div></a>
      </div>
      <div class="wrapper" id="about">
        <div class="container" id="about-logo">
          About Me
        </div>
        <div class="container" id="about-text">
          <p>
          It has been twelve years since 2004, when the miraculous format of podcasting became available to the world, and my life havs never been the same. With podcasts, you are never alone; good company and information is always a click away. There are so many times when podcasts have enhanced our lives, from the tedious subway ride to the lazy afternoon to the evening run, and so much I have learned from the likes of Ira Glass, Cheryl Strayed, Kevin Allison, and so many others.
          </p><br>
          <p>
            In creating this portal, Cast-Away, I hope to connect advertisers with podcasters, allowing advertisers to purchase ads on podcasts, and pocasters to charge for the service. In doing so, I hope to support the continued survival of the shows I love so much. Please, if your company is in a position to do so, consider supporting this valuable medium through advertising.
          </p>
        </div>
    <div class="content"><div class="body">
    </div></div>
<!-- end wrapper --></div>
