<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Castaway</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: :delete %>
          <% else %>
          <%= link_to "Log in", login_path %>
          <% end %>
      </li>
    </ul>
  </div>
</nav>
<% if current_user %>
<h1>Hello, <%= current_user.name.split(" ").first %>!</h1>
<% else %>
<h1>Hello!</h1>
<% end %>
<%= button_to "What's Trending", trending_path, method: :get %>
<%= form_tag shows_search_path, method: :get do %>
<%= text_field_tag :query, params["query"] %>
<%= submit_tag "Search", name: nil %>
<% end %>
