<div class="container">
<%= button_to "Add to Cart", root_path, method: :get %>
<h1><%= @result.title %></h1>
<p><%= @result.description %></p>
<p><strong>Number of episodes: </strong> <%= @result.number_of_episodes %> </p>
<p>
  <%= link_to "Website", @website if @website.present? %>
</p>
<h3>Related shows</h3>
<p>
  <% @related_shows.each do |related| %>
    <%= link_to related.title, searches_show_path(related.id) %><br>
  <% end %>
</p>

</div>
