<%= render "layouts/navbar" %>
<% cache(action_suffix: "primary") do %>
<div class="container">
<%= button_to "Add to Cart", root_path, method: :get %>

<%= image_path(@show.image_path) %>
<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p><strong>Number of episodes: </strong> <%= @show.number_of_episodes %> </p>
<p>
  <%= link_to "Website", @show.website if @show.website %>
</p>


<p><strong>Primary email contact</strong>: <%= @show.email %></p>
<% present @show do |show_presenter| %>
  <%= show_presenter.available %>
<% end %>
</div>
<% end %>
