<div class="container">
  <div class="checkout-group">

<%= button_to "Back to Home", root_path, method: :get, class: "checkout-button" %>

<%= image_tag(@show.image_path) %>
<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p>
  <%= link_to "Website", @show.website if @show.website %>
</p>


<p><strong>Primary email contact</strong>: <%= @show.email %></p>
<% present @show do |show_presenter| %>
  <%= show_presenter.available %>
<% end %>
</div>
</div>
