<!-- <#% cache_key_for(Show, "show") do %> -->
<div class="container">


<div class="checkout-group">
  <%= button_to "Add to Cart", root_path, method: :get, class: "btn checkout-button" %>
<% cache('show_info') do %>
<%= image_tag(@show.image_path, height: "200") %>
<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p>
  <%= link_to "Website", @show.website if @show.website %>
</p>


<p><strong>Primary email contact</strong>: <%= @show.email %></p>
<% end %>
<% present @show do |show_presenter| %>
  <%= show_presenter.available %>
</div>
<% end %>
</div>
<!-- <#% end %> -->
