<% if @homes_show %>
<body>
  <nav class="navbar-transparent navbar-fixed-top navbar-static-top col-sm-12 col-md-12 col-lg-12" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "CAST-AWAY", root_path, class: "brand-name-home" %> </a>    </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="custom-nav"> <%= "Logged in as #{current_user.handle}" %> </li>
          <li class="custom-nav"><%= link_to "Logout", logout_path, method: :delete %></li>
          <li class="custom-nav"><%= "Cart (#{@cart.contents.count})" %></li>

        <% else %>
          <li class="custom-nav"><%= link_to "Login", login_path %></li>
          <li class="custom-nav"><%= "Cart (#{@cart.contents.count})" %></li>
          <% end %>
      </div>
    </nav>
    <% else %>
    <div class="container-fluid">
    <nav class="navbar navbar-custom col-sm-12 col-md-12 col-lg-12" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand brand-name-general navbar-left" href="/">CAST-AWAY</a>    </div>
      </div>
    </div>
  </nav>
<% end %>
