<!DOCTYPE html>
<html>
<head>
  <%#= favicon_link_tag 'gift.ico' %>
  <title>Cast-Away</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:700,600italic,400,400italic,600,300,300italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

  <%= render 'layouts/navbar' %>
</head>


  <body>
    <%= yield %>
  </body>
</html>
